@import url("communication.html");  /* связь с html*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');
.form-container {                    /* параметры главной части*/
    padding: 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.form-container input[type="text"],     /* параметры разных частей для каждой функции*/
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="file"],
.form-container textarea {
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    border: 5px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-container input[type="checkbox"],
.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container button {        /*вид кнопки*/
    background-color: red;
    font-family: 'Tektur', cursive;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form-container textarea {     /*ввод комментария область*/
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.form-container input::placeholder,         /* Стили для placeholder(подсказка) */
.form-container textarea::placeholder {
    color: black;
}

.form-container input:focus,            /* Стили когда выбрано место вписания чего-либо */
.form-container textarea:focus {
    background-color: #fff;
    border: 5px solid whitesmoke;
}


.parallax-container {
    height: 106vh;
    width:98vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://abrakadabra.fun/uploads/posts/2022-02/1643750081_3-abrakadabra-fun-p-cherno-krasno-belii-fon-3.jpg') center/cover fixed no-repeat;
    align-items: start;
    font-size: 30px;
    color:white;
    margin-top:15px;
}
.test_img{
    float:left;
    margin-right:29px;
    margin-left:9px;
    width: 650px;
    height: 450px;
    margin-top: -15px;
}
.text2{
    font-family: 'Tektur', cursive;
    font-size:32px;
    text-align:justify;
    /*margin-top: -100px*/
}
.text2 g{
    font-size:27px;
}
.text2 z{
    font-size:38px;
}
.text2 p{
    font-size:32px;
    margin-top:5px;
}
.text3{
    font-family: 'Tektur', cursive;
    font-size:45px;
    text-align:justify;
    /*margin-top: 9px;*/
    color:red
}
.text4{
    font-family: 'Tektur', cursive;
}
.text3 p{
    font-size:32px;
    color:white;
    margin-top: -25px;
}
.text1{
    margin-top:40px;
    font-family: 'Tektur', cursive;
    font-size:30px;
}
/*настройка ползунка для сайта*/
::-webkit-scrollbar {
    width: 12px; /* Ширина ползунка */
}

::-webkit-scrollbar-thumb {
    background-color: red; /* Цвет ползунка */
    border-radius: 6px; /* Скругление углов ползунка */
}

::-webkit-scrollbar-track {
    background-color: grey; /* Цвет трека (полосы, по которой двигается ползунок) */
}
.open{
    display: flex;
}
/*статчиная шапка сайта*/
.for_head{
    border:7px solid #cb0716;
    border-radius:10px;
    top:0;
    left:0;
    width:98.4vw;
    height:100px;
    position:fixed;
    background-color: black;
    z-index:1;
    display:flex;
    flex-direction:row;
    text-decoration:none;
}

.nav {
    margin-top:70px;
    color:red;
    list-style-type: none;
    font-size:11px;
    font-family: 'Comfortaa', cursive;
}
.nav li{
    display:inline;
}
nav :hover{                    /* наведение */
    color:white;
    text-decoration: none;
}

.for_head img {      /* Стили только для изображения внутри .for_head */
    max-width: 30%;
    height: auto;

}
.for_head p {
    color:whitesmoke;
    font-family: 'Tektur', sans-serif;
    font-size: 48px;
    padding-left: 103px;
    margin-top: 20px;
}



.for_head_text{         /*регулирование текстом на странице*/
    position:static; /*убрать потом*/
    padding-top:74px;
    font-family: 'Tektur', cursive;
    font-size:35px;

}
.for_head_text h2{
    font-size:41px
}
/*боковая часть сайта*/
.for_aside{
    max-width:100%;
    right: 0;
    top:0;/*расположение*/
    width:251px;
    padding-top:30px;      /* отступ внутри рамки padding-top:5px*/
    padding-left:45px;
    height:900px;  /* auto*/
    border: 10px double red; /*solid*/
    border-radius:10px;
    background-color: black; /* Градиентный фон */
    position:relative;  /*sticky relative fixed*/
    bottom:535px;  /* двигать вверх вниз независимо*/
    display:flex;/* 111111*/
    flex-direction:column;
}

a{                          /* Стили для кнопки в обычном состоянии +используется для всех а,так что если что менять надо*/
    color:inherit;
    text-decoration: none;
}
a:hover{                    /* наведение */
    color:red;
    text-decoration: none;
}
a:active {
    color: darkred;
}

.text_ol_or_ul{
    font-size:25px;
    font-family: 'Comfortaa', cursive;
}

.text_ol_or_ul adress{
    font-size:15px;
}

.textstyle_main{
    font-family: 'Tektur', cursive;
    font-size:30px;
    margin-right: 211px;
}
.main-article {
    display: flex;
    flex-direction: row-reverse;
}
.for_footer .social-icon {
    display: inline-block;
    margin-right:20px;
    margin-bottom:40px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.for_footer .social-icon img {
    width: 76px; /* Размер иконки, укажите подходящее значение */
    height: auto;
}

.for_footer .social-icon:hover {
    transform: scale(1.1); /* Увеличение размера при наведении курсора */
}
.for_footer{
    bottom:0;
    margin-top:50px;
    width:97.9vw;
    border-radius:10px;
    height:90px;
    border:7px solid red;
    display:flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;

}
.for_footer a{
    padding-left:150px;
    padding-top:45px;
    color:whitesmoke;
}
.for_footer img{
    max-width:100%;
    padding-right:110px;
}
.body_settings{
    background: linear-gradient(to bottom, #1a1a1a, #000000); /* Градиент от темно-серого к черному */
    color: whitesmoke; /* Белый цвет текста */
}

/*бургер меню*/
.header_burger{
    display: none;
    position:relative;
    z-index:50;
    width:30px;
    height:18px;
    margin-top: 44px;
    margin-left: 10px;
    align-items:center;
}
.header_burger span{
    height:4px;
    width:80px;
    background-color: red;
}
.header_burger::before, .header_burger::after{
    content: '';
    position: absolute;
    height:4px;
    width: 74%;
    left:14%;
    background-color: red;
    transition: all 0.3s ease 0s;
}
.header_burger::before { top: 0 }

.header_burger::after { bottom: 0 }
/*анимация бургер меню*/
.header_burger.active span {transform: scale(0)}
.header_burger.active::before{
    top:64%;
    transform:rotate(-45deg) translate(0,-50%);
}
.header_burger.active::after{
    top:50%;
    transform:rotate(45deg) translate(0,50%);
}

@media only screen and (max-width: 600px) {
    .gallery-item {
        flex-basis: calc(100% - 20px);
    }
}

@media (max-width:1140px){                              /*отрубаем for aside*/
    .for_aside{    /*боковая часть сайта*/
        max-width:100%; /* масштабирование картинки под рамки aside*/
        right: 0;
        top:0;/*расположение*/
        width:450px;
        padding-top:30px;      /* отступ внутри рамки padding-top:5px*/
        padding-left:45px;
        height:1500px;  /* auto*/
        border: 10px solid red;
        background-color: black; /* Градиентный фон */
        position:relative;  /*sticky relative fixed*/
        bottom:535px;  /* двигать вверх вниз независимо*/
        display:none;/* 111111*/
        flex-direction:column;
    }
}

@media (min-width:375px) and (max-width:517px){ /*медиа для телефонов*/
    *{margin:0;
    }              /*padding: 0;*/
    .textstyle_main{
        font-family: 'Tektur', cursive;
        font-size:12px;  /* 0.98em */
    }
    .main-article {
        display: flex;
        justify-content:flex-end;
        width: 218%;
    }
    .text_ol_or_ul{
        font-size:15px;
        font-family: 'Comfortaa', cursive;
    }
    .for_head{                        /* Cтатичная шапка */
        border:7px solid #cb0716;
        border-radius:10px;
        top:0;
        left:0;
        width:218vw;
        height:100px;
        position:fixed;
        background-color: black;
        font-size:32px;
        z-index:1;
        display:flex;
        flex-direction:row;
        text-decoration:none;
    }
    .for_head p {
        color:whitesmoke;
        font-size:31px;
        padding-left:28px;
        margin-top: 32px;
        align-items:stretch;
    }
    .for_head_text{         /*регулирование текстом на странице*/
        position:static; /*убрать потом*/
        padding-top:113px;
        width:220%
    }

    .header_burger { display: flex }
    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgba(0, 0, 0, 0.9);
        margin-top:113px; /*70*/
        color:red;
        list-style-type: none;
        font-size:37px; /*11*/
        /*margin-left:30px;*/
        font-family: 'Comfortaa', cursive;
        animation: burgerAnimation 0.4s;
    }

    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
    .nav li{
        display: flex;
    }
    .cher{
        visibility:hidden ;
    }
    .main-article {
        flex-direction: row-reverse;
    }
    .for_aside{
        display:none;
        right:0;
        max-width:100%;
    }
    .for_footer{
        bottom:0;
        margin-top:15px;
        width:217.9vw;
        height:90px;
        border:7px solid red;
        display:flex;
        background-color: black;
    }
    .for_footer a{
        display:block;
        padding-left:90px;
        padding-top:45px;
        color:whitesmoke;
    }
    .for_footer img{
        max-width:99%;
        padding-top:5px;
        padding-right:28px;
    }
    .gallery-item {
        /*flex: 1 0 300px;*/
        margin: 6px;
    }
    .for_footer .social-icon {
        display: inline-block;
        margin-right:20px;
        margin-bottom:45px;
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    .for_footer .social-icon img {
        width: 76px; /* Размер иконки, укажите подходящее значение */
        height: auto;
    }

    .for_footer .social-icon:hover {
        transform: scale(1.1); /* Увеличение размера при наведении курсора */
    }
    .parallax-container {
        height: 157vh;
        width:220vw;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://w7.pngwing.com/pngs/985/80/png-transparent-white-and-red-lines-desktop-black-and-white-black-red-white-display-resolution-black-background-miscellaneous-angle-white.png') center/cover fixed no-repeat;
        align-items: start;
        font-size: 30px;
        color:white;
    }
    .text2 z{
        font-size:36px;
    }
    .for_head_text h2{
        font-size:45px
    }
    .text2 g{
        font-size:33px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}